CONTEXTCLIPPER_DATA_DIR=./data
CONTEXTCLIPPER_FFMPEG_PATH=ffmpeg
CONTEXTCLIPPER_FFPROBE_PATH=ffprobe
CONTEXTCLIPPER_VIDEO_CODEC=h264_videotoolbox
CONTEXTCLIPPER_MAX_RENDER_CONCURRENT=1
CONTEXTCLIPPER_CLICK_DEFAULT=assets/click.mp3
CONTEXTCLIPPER_CORS_ORIGINS=http://localhost:3000